SparkleMotionMini/esp-idf/build/
SparkleMotionMini/esp-idf/sdkconfig
SparkleMotionMini/esp-idf/sdkconfig.old
ESP32S3ReverseTFT/esp-idf/build/
ESP32S3ReverseTFT/esp-idf/sdkconfig
ESP32S3ReverseTFT/esp-idf/sdkconfig.old