/* zephyr_app/boards/esp32s3_devkitm.overlay */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/spi/spi.h>
#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-gpio-sigmap.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

/ {

	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
	};

	aliases {
		led0 = &led0;
        display0 = &st7789v;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};
        
        tft_power: tft_power {
            gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
            label = "TFT Power";
        };
        
        tft_backlight: tft_backlight {
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
            label = "TFT Backlight";
        };
        
        tft_rst: tft_rst {
            gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
            label = "TFT Reset";
        };
	};
};

&usb_serial {
	status = "okay";
};

&pinctrl {
	spim2_default: spim2_default {
		group1 {
			pinmux = <ESP32_PINMUX(36, ESP_NOSIG, ESP_SPICLK_OUT)>,
				     <ESP32_PINMUX(35, ESP_NOSIG, ESP_SPID_OUT)>;
		};
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
    cs-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;

    mipi_dbi_spi: mipi_dbi_spi@0 {
        status = "disabled";
        compatible = "zephyr,mipi-dbi-spi";
        reg = <0>;
        spi-dev = <&spi2>;
        /* Mode 0: CPOL=0, CPHA=0 */
        dc-gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
        write-only;
        #address-cells = <1>;
        #size-cells = <0>;

        st7789v: st7789v@0 {
            compatible = "sitronix,st7789v";
            reg = <0>;
            mipi-max-frequency = <1000000>;
            width = <240>;
            height = <135>;
            x-offset = <40>;
            y-offset = <53>;
            
            /* Reset handled by mipi_dbi_spi */

            /* ESP-IDF: esp_lcd_panel_invert_color(true) */
            /* inversion-on; Not supported by binding? */

            /* ESP-IDF: swap_xy(true), mirror(true, false) -> MV=1, MX=1, MY=0 */
            /* 0x60 = 0110 0000 (RGB) */
            mdac = <0x60>;
            
            /* Gamma and other params from previous working config or default */
            vcom = <0x28>;
            gctrl = <0x35>;
            vrhs = <0x10>;
            vdvs = <0x20>;
            colmod = <0x55>;
            lcm = <0x0c>;
            gamma = <0x01>;
            porch-param = [0c 0c 00 33 33];
            cmd2en-param = [5a 69 02 01];
            pwctrl1-param = [a4 a1];
            pvgam-param = [D0 00 02 07 0A 28 32 44 42 06 0E 12 14 17];
            nvgam-param = [D0 00 02 07 0A 28 31 54 47 0E 1C 17 1B 1E];
            ram-param = [00 E0];
            rgb-param = [40 02 14];
            mipi-mode = <MIPI_DBI_MODE_SPI_4WIRE>;
        };
    };
};
