CONFIG_IDF_TARGET="esp32s3"
CONFIG_REVTFT_LED_GPIO=13
CONFIG_REVTFT_HEARTBEAT_MS=250
CONFIG_REVTFT_SERIAL_BAUD=115200
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_REVTFT_TFT_H_RES=240
CONFIG_REVTFT_TFT_V_RES=135
CONFIG_REVTFT_TFT_COL_OFFSET=40
CONFIG_REVTFT_TFT_ROW_OFFSET=53
CONFIG_REVTFT_TFT_SPI_HZ=40000000
CONFIG_REVTFT_TFT_POWER_GPIO=7
CONFIG_REVTFT_TFT_BACKLIGHT_GPIO=45
CONFIG_REVTFT_TFT_CS_GPIO=42
CONFIG_REVTFT_TFT_DC_GPIO=40
CONFIG_REVTFT_TFT_RST_GPIO=41
CONFIG_REVTFT_TFT_MOSI_GPIO=35
CONFIG_REVTFT_TFT_SCLK_GPIO=36
